body{
    background: #000;
}
// this is a Sass silent comment.
// we don't need to show the world all this instructional stuff
//sometines notes are juste for the developers

html{
    font-size: (12 / 16) *1em;
}
.foot{
    font-style: italic;
}